* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: url("Images/mountain.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white
}

header {
    padding: 10px 0;
    text-align: center;
}
nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    gap: 15px;
    color: #fff;
    margin-top: 20px;
    font-size: medium;
    font-family: "playwrite tz";

}

header h1 {
    font-family: "playwrite tz";
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(252, 252, 252);
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}


#about { 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}
#aboutContainer img {
    height: 300px;
    
}

#about p {
    font-family: 'Courier New', sans-serif;
    font-size: 1.1em;
    line-height: 1.8;
}
#project1 {
    background-image: url('https://images.nationalgeographic.org/image/upload/v1638892272/EducationHub/photos/hoh-river-valley.jpg');
}

#project2 {
    background-image: none;
}

#projects {
    
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.project {
    background: #f9f9f98a;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.project h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.project p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    line-height: 1.6;
}

.project a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.project a:hover {
    background-color: #555;
}


#skills {
   
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "playwrite tz";
}


#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    font-size: 1.1em;
    margin-bottom: 5px;
}
#contact {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    
}
#contact li {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: x-large;
    
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.9em;
}